[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
	branch = main
[submodule "LotteryCoin-gui"]
	path = LotteryCoin-gui
	url = https://github.com/LotteryCoin-top/LotteryCoin-gui.git
	branch = main
